@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,700|Heebo:400,500,700|Roboto:500,700|Source+Sans+Pro:400,600,700');

@font-face {
    font-family: 'Avenir Next LT Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Bold'), url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next LT Pro Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Demi'), url('AvenirNextLTPro-Demi.woff') format('woff');
}

html, body {
    font: 500 17px 'Heebo', sans-serif;
    /*font: 16px 'Avenir Next LT Pro Bold', sans-serif;*/
    /*font: 16px 'Avenir Next LT Pro Demi', sans-serif;*/
    font-stretch: ultra-expanded;
    letter-spacing: 0.4px;
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: fixed url('../img/background.png') no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.main-widget {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 409px;
    width: 613px;
    -webkit-align-content: center;
    align-content: center;
    margin: auto;
    -moz-box-shadow: 0px 0px 55px 5px black;
    -o-box-shadow: 0px 0px 55px 5px black;
    -webkit-box-shadow: 0px 0px 55px 5px black;
    box-shadow: 0px 0px 55px 5px black;
}

.main-widget_block-square {
    flex: 1 0 33.3334%;
    -ms-flex: 1 0 33.3334%;
    -webkit-flex: 1 0 33.3334%;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
    height: 50%;
    margin: auto;
}

.square_details {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    height: 48%;
    width: 100%;
    -webkit-align-items: center;
    align-items: center;
    /*padding: 16px 18px 8px 19px;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*margin: 11px auto -16px;*/
    -moz-box-shadow: inset 0px 0px 40px -20px black;
    -o-box-shadow: inset 0px 0px 40px -20px black;
    -webkit-box-shadow: inset 0px 0px 40px -20px black;
    box-shadow: inset 0px 0px 40px -20px black;
}

.block {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    color: white;
}

.details_block-rectangle {
    font-size: 0.7rem;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
}

.square_details ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.square_details li {
    list-style-type: none; /* Убираем маркеры */
}

.details-rectangle_img {
    height: 1.9rem;
    width: 1.6rem;
    background: url('../img/icons-sprite.PNG') no-repeat center center;
    /*background-size: contain;*/
    -moz-background-size: 9rem;
    -o-background-size: 9rem;
    -webkit-background-size: 9rem;
    background-size: 9rem;
}

.main-widget_img {
    height: 6rem;
    width: 6rem;
    margin: 0.1rem;
    background: url('../img/icons-sprite.PNG') no-repeat;
    -moz-background-size: 33.85rem;
    -o-background-size: 33.85rem;
    -webkit-background-size: 33.85rem;
    background-size: 33.85rem;
}

.main-widget_img--small {
    height: 52%;
    width: 4.35rem;
    background: url('../img/icons-sprite.PNG') no-repeat center center;
    -moz-background-size: 27.7rem;
    -o-background-size: 27.7rem;
    -webkit-background-size: 27.7rem;
    background-size: 27.7rem;
}

.img--cloud-rain {
    background-position: -10.9rem -0.6rem;
}

.img--cloud-fog {
    background-position: -16.6rem -0.68rem;
}

.img--cloud-sun {
    background-position: -22.15rem -0.6rem;
}

.img--cloud_sun-snow {
    background-position: -5rem -0.6rem;
}

.img--cloud {
    background-position: -28rem -0.41rem;
}

.img--cloud-cat {
    background-position: -0.1rem;
}

.img--cloud-rain-small {
    background-position: -2.9rem;
}

.img--cloud-small {
    background-position: -7.5rem;
}

.img--cloud-sun-small {
    background-position: -5.87rem;
}

.light-blue {
    background-color: #00C0E2;
}

.green {
    background-color: #5AD998;
}

.blue {
    background-color: #7558F8;
}

.orange {
    background-color: #E9C14D;
}

.red {
    background-color: #E55679;
}

.dark-red {
    background-color: #C94B6B;
}

.violet {
    background-color: #CB70D6;
}

/*@media screen and (max-width: 480px) and (orientation: landscape),  screen and (max-device-width: 480px) and (orientation: landscape){ }*/
/*@media screen and (min-width: 480px) and (max-width: 768px) and (orientation: landscape),  screen and (min-device-width: 480px) and (max-device-width: 768px) and (orientation: landscape){ }*/
/*@media screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape),  screen and (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: landscape){ }*/
/*@media screen and (min-width: 1200px) and (orientation: landscape),  screen and (min-device-width: 1200px) and (orientation: landscape){ }*/

@media screen and (max-width: 1200px) and (orientation: landscape), screen and (max-device-width: 1200px) and (orientation: landscape) {
    body, html {
        font-size: 4.8vh;
    }

    .main-widget_img {
        margin: -0.3rem;
    }

    .details_block-rectangle {
        width: 24%;
    }

    .main-widget {
        max-width: 95vw;
        max-height: calc(95vw / 3 * 2);
        height: 80vh;
        width: calc(80vh / 2 * 3);
        /*border: 3px solid red;*/
    }
}

@media screen and (orientation: portrait) {
    body, html {
        font-size: 5vw;
    }

    .main-widget_img {
        margin: -0.3rem;
    }

    .details_block-rectangle {
        width: 24%;
    }

    .main-widget {
        max-height: 95vh;
        max-width: calc(95vh / 3 * 2);
        height: calc(80vw / 2 * 3);
        width: 80vw;
        /*border: 3px solid blue;*/
    }

    .main-widget_block-square {
        flex: 1 0 50%;
        -ms-flex: 1 0 50%;
        -webkit-flex: 1 0 50%;
        height: 33.3334%;
    }
}

@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 12/10), screen and (min-device-aspect-ratio: 8/10) and (max-device-aspect-ratio: 1/1), screen and (min-aspect-ratio: 8/10) and (max-aspect-ratio: 1/1) {
    body, html {
        font-size: 4vmin;
    }
}