@import url('https://fonts.googleapis.com/css?family=Heebo:500');

html, body {
    font: 500 17px 'Heebo', sans-serif;
    font-stretch: ultra-expanded;
    letter-spacing: 0.4px;
    height: 100%;
}

body {
    display: grid;
    background: fixed url('../img/background.png') no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
}

.main-widget {
    display: grid;
    height: 409px;
    width: 613px;

    grid-template-columns: repeat(auto-fit, minmax(-webkit-max-content, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
    grid-template-rows: auto minmax(50px, 50vh) 5em;


    /*-webkit-align-content: center;*/
    /*align-content: center;*/
    margin: auto;
    -moz-box-shadow: 0px 0px 55px 5px black;
    -o-box-shadow: 0px 0px 55px 5px black;
    -webkit-box-shadow: 0px 0px 55px 5px black;
    box-shadow: 0px 0px 55px 5px black;
}