html, body {
    font-size: 16px;
    height: 100%;
}

body {
    background: fixed url('../img/background.png') no-repeat center center;
    background-size: cover;
    display: flex;
}

.main_widget {
    width: 613px;
    height: 409px;
    min-width: 613px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    box-shadow: 0px 0px 55px 5px black;
}

.square {
    flex: 1 0 33.3334%;
    height: 50%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.square > img {
    margin: 15px;
    width: 42%;
}

.square:hover > img {
    width: 31%;
    min-height: 1%;
}

.square:hover label {
    display: none;
}

.square:hover .details {
    display: flex;
}

.details {
    display: none;
    width: 100%;
    height: 99px;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0px 0px 40px -20px black;
    padding: 15px 17px 8px 18px;
    box-sizing: border-box;
    margin-bottom: -10px;
}

.block {
    display: flex;
    font-family: Arial sans-serif;
    font-weight: bold;
    color: white;
    align-items: center;
    flex-direction: column;
}

.rectangle {
    justify-content: space-around;
    height: 100%;
    font-size: 0.8rem;
}

.rectangle img {
    width: 53%;
    min-height: 1%;
}

.light-blue {
    background-color: #00C0E2;
}

.green {
    background-color: #5AD998;
}

.blue {
    background-color: #7558F8;
}

.orange {
    background-color: #E9C14D;
}

.red {
    background-color: #E55679;
}

.dark_red {
    background-color: #C94B6B;
}

.violet {
    background-color: #CB70D6;
}